body {
    font-family: Arial, Helvetica, sans-serif;
}

/***********************Header****************************/

#lead_paragraph {
    margin-left: 24px;
    height: 24px;
    font-size: 2rem;
    color: #9c9d9b;
}
a {
    margin-left: 20px;
    color: #9c9d9b;
}
a:hover {
    color: #000;
}
#menu-btn {
    text-decoration: none;
}
#menu-icon {
    margin-right: 10px;
    background-color: #9c9d9b;
    padding-top: 4.4px;
}
header img {
    width: 24px;
    height: 21px;
}
#nav {
    text-align: right;
}

/********************Hero section****************************/

.logo-name {
    position: absolute;
    top: 125px;
    left: 70px;
    background-color: #32c086;
    font-size: 1.7rem;
    padding: 5px;
}
.hero-section {
    position: relative;
}

/********************Intro section****************************/

figcaption {
    font-weight: bold;
    font-size: 1.3rem;
}
h3 {
    margin-bottom: 0;
}
hr {
    margin: 0;
}
.intro-section {
    background-color: #f6f6f6;
}

/********************Info section****************/

.info-section {
    background-color: #222;
    color: #fff;
}
#my-website {
    margin-top: 0;
    color: #5c5b5b;
    line-height: 2em;
}
.info-section p {
    margin-top: 16px;
    margin-bottom: 0;
    color: #777;
}
.info-section p a {
    margin-left: 0;
    text-decoration: none;
}
.info-section p a:hover {
    color: #f00;
}

/***********************Footer********************/

.footer-section {
    background-color: #111 ;
    color: #fff;
}

/**********************Media queries**************/

@media screen and (max-width: 376px) {
    #lead_paragraph {
        margin-left: 24px;
        height: 9px;
        font-size: 1.1rem;
        color: #9c9d9b;
}
    .logo-name {
        position: absolute;
        top: 45px;
        left: 45px;
        background-color: #32c086;
        font-size: 11px;
        padding: 5px;
}
}
@media screen and (min-width:378px) and (max-width: 576px) {
    #lead_paragraph {
        margin-left: 24px;
        height: 22px;
        font-size: 1.5rem;
        color: #9c9d9b;
}
    .logo-name {
        position: absolute;
        top: 45px;
        left: 45px;
        background-color: #32c086;
        font-size: 16px;
        padding: 5px;
}
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .logo-name {
        position: absolute;
        top: 75px;
        left: 90px;
        background-color: #32c086;
        font-size: 1.1rem;
        padding: 5px;
}
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1280px;
}
}
